@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html, body {
  height: 100%;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  flex: 1;
}

.icono-wrapper:hover {
  transform: scale(1.2);
}

.formato-row:hover .formato-nombre {
  text-decoration: underline;
}